@tailwind base;
@tailwind components;
@tailwind utilities;


.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

.form-control {
  padding: 10px;
}

.label-form {
  font-size: 14px; 
  margin-bottom: 12px;
}


@media only screen and (max-width: 600px) {
    .image-side{
        display: none !important;    
        width: 82%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

